.empty{
    background-color: #CFCFCF;
}

.edge{
    background-color: #69FD69;
}

.selected{
    background-color: #ADFDAD;
}

.beacon{
    background-color: #535bf2;
}

.center{
    background-color: #CF6969;
}

.block{
    aspect-ratio: 1;
    border-radius: 10%;
}